body{
    background-color: rgb(219, 245, 245);
}


/* corousel image */
.image{
    height: 400px;
}
.cor{
    background-color: brown;
}


/* Flash sale  image */
.a{
    height: 200px;
}

/* categories image  */
.b{
    height: 100px;
}


/* just for you image */
.c{
    height: 300px;
}

.footer{
    background-color: aqua;
}