{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="card my-3 rounded-3">
  <div class="card-body text-center">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i><br>
    <div class="my-2">
      <div class="h3" style="color: blue;">Added to cart</div>
    </div>
  </div>
</div>

<div class="container">
  <table class="table table-bordered bg-info">
    <tr style="margin-left: 100px;">
      <th>S.N.</th>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
    {% for product in cart %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><a href="/product/{{ product.product.slug }}">{{ product.product }}</a></td>

      {% if product.product.offer_price %}
      <td class="price">{{ product.product.offer_price }}</td>
      {% else %}
      <td class="price">{{ product.product.price }}</td>
      {% endif %}

      <td class="quantity">{{ product.quantity }}</td>
      <td class="total"></td>
    </tr>

    {% endfor %}

    <tr>
      <td align="right" colspan="4"><strong>Grand Total:</strong></td>
      <td align="center" id="grand_total">d</td>
    </tr>

  </table>

  <div class="text-end">
    <a href="/checkout" class="btn btn-success btn-lg">Checkout</a>
  </div>

</div>

<script>
  var price = document.getElementsByClassName('price');
  var quantity = document.getElementsByClassName('quantity');
  var total = document.getElementsByClassName('total');

  for (var i = 0; i < price.length; i++) {
    total[i].innerHTML = parseInt(price[i].innerHTML) * parseInt(quantity[i].innerHTML);
  }

  var grand_total = document.getElementById('grand_total');
  var sum = 0;

  for (var i = 0; i < price.length; i++) {
    sum += parseInt(price[i].innerHTML) * parseInt(quantity[i].innerHTML);
  }

  grand_total.innerHTML = sum;

</script>

{% endblock %}