{% extends 'base.html' %}
{% load static %}
{% block content %}

   

    <div class="card shadow rounded-3">
      <div class="card-body text-center">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i><br>
        <div class="mt-2">
          <div class="h3" style="color: blue;">Added to cart</div>
        </div>
      </div>
    </div>

    <div class="container">
    <table class="table table-bordered bg-info" >
      <tr style="margin-left: 100px;">
          <th>S.N.</th>
          <th>Name</th>
          <th>Address</th>
          <th>Products</th>
          <th>Quantity</th>
      </tr>
      {% for product in Cart %}
      <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.user }}</td>
          <td></td>
          <td></td>
          <td></td>
      </tr>

      {% endfor %}
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
  </table>

</div>



</div>
</div>


<!-- OPEN FOOTER -->

<div class="container-fluid footer" style="padding-top: 250px; ">
<div class="row">
<div class="col">
<div class="h5" style="color: red;">Customer Care</div> <hr>
<ul>
<li>Help Center</li>
<li>How to Buy</li>
<li>Returns and Refund</li>
<li>Contact Us</li>

</ul>
</div>
<div class="col">
<div class="h5" style="color: red;">About us:</div> <hr>
Careers <br>
Terms and Conditions <br>
Privacy and Policy <br>
Digital Payments <br>
Customer service

</div>
<div class="col">
<div class="h5" style="color: red;">Payment</div> <hr>
</div>

</div>
</div>





</div>
</div>

{% endblock %}

    



  
    