{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col">
      <div class="h3" style="color: blue;">Personal Information</div>
      <hr>
      <input type="text" placeholder="First Name" style="width: 300px;"> <input type="text" style="width: 300px;"
        placeholder="Last Name" id=""> <br> <br>
      <input type="email" placeholder="Email" style="width: 605px;"><br> <br>
      <input type="text" placeholder="Country" style="width: 300px;" id=""> <br> <br>
      <input type="text" placeholder="Zip code" style="width: 300px;"> <br><br>
      <input type="integer" placeholder="Number" id="" style="width: 605px;">
    </div>
    <div class="col">
      <div class="h3" style="color: blue;">Your Order:</div>
      <hr>
      <br>
      <div class="h6">
        Product cost : Rs. <span id="lead fw-bold">{{ total_amount }}</span>
      </div>
    </div>
  </div>

  <hr>
  <div class="h3" style="color: blue;">Payment Details: </div>
  <input type="integer" value="0000 0000 0000" style="width: 300px;"><i class="fa fa-cc-visa" aria-hidden="true"></i>
  <br> <br>
  <input type="integer" value="Security code" id="" style="width: 300px;"> <br> <br>
  <input type="integer" value="Expired Date" id="" style="width: 300px;"> <br> <br>
  <a class="btn btn-success" href="/complete-checkout">Complete Purchase</a>
</div>

{% endblock %}