{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-2">
      <div class="h3" style="color: red;">MENU</div>
      <div>
        <ul>
          <li><a href="{% url 'logout_page' %}">Logout</a></li>
        </ul>
      </div>
    </div>
    <div style="height: 400px;" class="col bg-light rounded-bottom">
      <!-- <div style="height: 900px;" class="col bg-light rounded-bottom"></div> -->

      <h1>Hello {{ request.user }} </h1>
      <hr>
      <div class="col">
        <div class="container">


          <table class="table table-bordered bg-primary">
            <tr style="margin-left: 100px;">
              <th>S.N.</th>
              <th>Address</th>
              <th>Products</th>
              <th>Quantity</th>
              <th>Is Delivered</th>
            </tr>

            {% for order in orders %}

            <tr>
              <td class="tabless" style="color: red; font-size: larger; font-weight:700">{{ order.slug }}</td>
              <td class="tabless">{{ order.address }}</td>
              <td class="tabless">{{ order.product }}</td>
              <td class="tabless">{{ order.quantity }}</td>
              <td class="tabless">{% if order.is_shipped %}Yes{% else %}No{% endif %}</td>
            </tr>

            {% endfor %}

          </table>

        </div>



      </div>
    </div>

    <!-- OPEN FOOTER -->

    <div class="container-fluid footer" style="padding-top: 90px; background-color: aqua;">
      <div class="row">
        <div class="col">
          <div class="h5" style="color: red;">Customer Care</div>
          <hr>
          <ul>
            <li>Help Center</li>
            <li>How to Buy</li>
            <li>Returns and Refund</li>
            <li>Contact Us</li>

          </ul>
        </div>
        <div class="col">
          <div class="h5" style="color: red;">About us:</div>
          <hr>
          Careers <br>
          Terms and Conditions <br>
          Privacy and Policy <br>
          Digital Payments <br>
          Customer service

        </div>
        <div class="col">
          <div class="h5" style="color: red;">Payment</div>
          <hr>
        </div>

      </div>
    </div>





  </div>
</div>


{% endblock %}