{% extends 'base.html' %}
{% load static %}
{% block content %}

<hr>

<!-- OPEN CAROUSEL -->
<div class="container cor">

  <div class="row">

    <div class="col-2">
      {% for cat in categories %}
      <a href="{% url 'cat_page' cat.slug %}">{{ cat.category }}</a> <br>
      {% endfor %}
    </div>

    <div class="col-10">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://miro.medium.com/max/1018/1*iAu65xDmvpVdBJgps6EDEw.png" height="400px"
              class="d-block w-100 image" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://miro.medium.com/max/1400/1*SwFB1o_k1LGprN-XRUZQ8w.jpeg" height="400px"
              class="d-block w-100 image" alt="...">
          </div>
          <div class="carousel-item">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRknH_ElLB5RfABQiJPGrC2W2SuNYSdKgd_cQ&usqp=CAU"
              class="d-block w-100 image" height="400px" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  </div>

</div>
<!-- CLOSE COROUSEL -->

<hr>

<!-- ONSALE GROUP CARDS OPEN -->
<div class="container ">
  <div class="h3" style="color: red;">Featured Products</div>

  <div class="row row-cols-1 row-cols-md-3 g-4">

    {% for product in featured_products %}

    <div class="col">
      <div class="card h-100">
        <img src="{{ product.thumbnail.url }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description|truncatewords:20 }}</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'single_product_page' product.slug %}" class="btn btn-sm btn-success">View Product</a>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>


</div>
</div>

<!-- CLOSE FLASH SALE  -->
<hr>

<!-- OPEN CATEGORIES -->
<div class="container">
  <div class="h3" style="color: red;">Latest Deals</div>

  <div class="row row-cols-1 row-cols-md-3 g-4">

    {% for product in new_products %}

    <div class="col">
      <div class="card h-100">
        <img src="{{ product.thumbnail.url }}" height="300px" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description|truncatewords:20 }}</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'single_product_page' product.slug %}" class="btn btn-sm btn-success">View Product</a>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>

</div>
</div>
<hr>

<!-- CLOSE CATEGORIES -->

<!-- OPEN JUST FOR YOU -->

<div class="container">
  <div class="h3" style="color: red;">Just For You</div>

  <div class="row row-cols-1 row-cols-md-3 g-4">

    {% for product in active_products %}

    <div class="col">
      <div class="card h-100">
        <img src="{{ product.thumbnail.url }}" height="300px" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description|truncatewords:20 }}</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'single_product_page' product.slug %}" class="btn btn-sm btn-success">View Product</a>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>

</div>
</div>

<!-- CLOSE JUST FOR YOU -->

{% endblock %}