{% extends 'base.html' %}

{% block content %}

  <hr>

  <!-- OPEN CAROUSEL -->

  <div class="container-fluid cor">


    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://miro.medium.com/max/1018/1*iAu65xDmvpVdBJgps6EDEw.png" class="d-block w-100 image"
            alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://miro.medium.com/max/1400/1*SwFB1o_k1LGprN-XRUZQ8w.jpeg" class="d-block w-100 image"
            alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRknH_ElLB5RfABQiJPGrC2W2SuNYSdKgd_cQ&usqp=CAU"
            class="d-block w-100 image" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>



  <!-- CLOSE COROUSEL -->

  <!-- OPEN BUTTON -->
  <hr>
  <div class="container">
    <button class="btn-success"> <i class="fa fa-home" aria-hidden="true"></i> MALL</button>
    <button class="btn-danger" style="margin-left: 150px;"> <i class="fa fa-cart-plus" aria-hidden="true"></i>
      MART</button>
    <button class="btn-info" style="margin-left: 150px;"> <i class="fa fa-mobile" aria-hidden="true"></i> RECHARGE AND
      SERVICES</button>
    <button class="btn-success" style="margin-left: 150px;"> <i class="fa fa-delicious" aria-hidden="true"></i>
      FASHION</button>
    <button class="btn-primary" style="margin-left: 150px;"> <i class="fa fa-globe" aria-hidden="true"></i>
      GLOBAL</button>

  </div>

  <!-- CLOSE BUTTON -->
  <hr>
  <!-- ONSALE GROUP CARDS OPEN -->

  <div class="container ">
    <div class="h3" style="color: red;">Flash Sale</div>

    <div class="card-group">
      <div class="card">
        <img src="images/istockphoto-513631320-612x612.jpg" class="card-img-top a" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          Price <p class="card-text" style="color: red;"> Rs.1000</p>
          <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
        </div>
      </div>
      <div class="card">
        <a href="">
        <img src="images/istockphoto-865279132-612x612.jpg" class="card-img-top a" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          Price <p class="card-text" style="color: red;"> Rs.1000</p>
          <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
        </a> 
        </div>
      </div>
      <div class="card">
        <img src="images/istockphoto-873620260-170667a.jpg" class="card-img-top a" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          Price <p class="card-text" style="color: red;"> Rs.1000</p>
          <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
        </div>

      </div>
      <div class="card">
        <img src="images/washing-machine-in-carton-cardboard-box-e-commerce-internet-online-shopping-and-delivery-concept-3d-illustration-rkj0cw.jpg" class="card-img-top a" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          Price <p class="card-text" style="color: red;"> Rs.1000</p>
          <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
        </div>
      </div>
      <div class="card">
        <img src="images/6395f334068050.56c3194bdf6b5.jpg" class="card-img-top a" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          Price <p class="card-text" style="color: red;"> Rs.1000</p>
          <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
        </div>
      </div>
      <div class="card">
        <img src="images/700ml-blue-glass-dry-gin-bottle-mockup.png" class="card-img-top a" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          Price <p class="card-text" style="color: red;"> Rs.1000</p>
          <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
        </div>
      </div>
    </div>
  </div>

  <!-- CLOSE FLASH SALE  -->
  <hr>

  <!-- OPEN CATEGORIES -->
  <div class="container">
    <div class="h3" style="color: red;">Categories</div>

    <div class="card-group">
      <div class="card">
        <img src="images/8191db34068050.56c3194be84af.jpg" class="card-img-top b" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          Price <p class="card-text" style="color: red;"> Rs.1000</p>
          <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
        </div>
      </div>
      <div class="card">
        <img src="images/963b4134068050.56c3194beedc2.jpg" class="card-img-top b" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          Price <p class="card-text" style="color: red;"> Rs.1000</p>
          <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
        </div>
      </div>
      <div class="card">
        <img src="images/96cfcf34068050.56c3194bc53bf.jpg" class="card-img-top b" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          Price <p class="card-text" style="color: red;"> Rs.1000</p>
          <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
        </div>

      </div>
      <div class="card">
        <img src="images/96cfcf34068050.56c3194bc53bf.jpg" class="card-img-top b" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          Price <p class="card-text" style="color: red;"> Rs.1000</p>
          <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
        </div>
      </div>
      <div class="card">
        <img src="images/background-removal-and-editing-service.jpg" class="card-img-top b" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          Price <p class="card-text" style="color: red;"> Rs.1000</p>
          <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
        </div>
      </div>
      <div class="card">
        <img src="images/eCommerce-products-photos.jpg" class="card-img-top b" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          Price <p class="card-text" style="color: red;"> Rs.1000</p>
          <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
        </div>
      </div>
      <div class="card">
        <img src="images/FP181210-VAC-1024x877.png" class="card-img-top b" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          Price <p class="card-text" style="color: red;"> Rs.1000</p>
          <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
        </div>
      </div>
      <div class="card">
        <img src="images/istockphoto-513631320-612x612.jpg" class="card-img-top b" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          Price <p class="card-text" style="color: red;"> Rs.1000</p>
          <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
        </div>
      </div>
      <div class="card">
        <img src="images/istockphoto-865279132-612x612.jpg" class="card-img-top b" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          Price <p class="card-text" style="color: red;"> Rs.1000</p>
          <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
        </div>
      </div>

    </div>
  


  <div class="card-group  ">
    <div class="card">
      <img src="images/istockphoto-873620260-170667a.jpg" class="card-img-top b" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        Price <p class="card-text" style="color: red;"> Rs.1000</p>
        <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
      </div>
    </div>
    <div class="card">
      <img src="images/OIP.jpg" class="card-img-top b" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        Price <p class="card-text" style="color: red;"> Rs.1000</p>
        <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
      </div>
    </div>
    <div class="card">
      <img src="images/Product-Image-Background-Requirements.jpg" class="card-img-top b" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        Price <p class="card-text" style="color: red;"> Rs.1000</p>
        <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
      </div>

    </div>
    <div class="card">
      <img src="images/Product-Image-Background-Requirements.jpg" class="card-img-top b" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        Price <p class="card-text" style="color: red;"> Rs.1000</p>
        <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
      </div>
    </div>
    <div class="card">
      <img src="images/Product-Image-Background.jpg" class="card-img-top b" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        Price <p class="card-text" style="color: red;"> Rs.1000</p>
        <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
      </div>
    </div>
    <div class="card">
      <img src="images/Product-Image-Background.jpg" class="card-img-top b" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        Price <p class="card-text" style="color: red;"> Rs.1000</p>
        <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
      </div>
    </div>
    <div class="card">
      <img src="images/R (1).jpg" class="card-img-top b" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        Price <p class="card-text" style="color: red;"> Rs.1000</p>
        <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
      </div>
    </div>
    <div class="card">
      <img src="images/R (2).jpg" class="card-img-top b" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        Price <p class="card-text" style="color: red;"> Rs.1000</p>
        <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
      </div>
    </div>
    <div class="card">
      <img src="images/R.jpg" class="card-img-top b" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        Price <p class="card-text" style="color: red;"> Rs.1000</p>
        <button class="btn-info">Buy Now </button>  <button class="btn-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</button>
      </div>
    </div>

  </div>
</div>
</div>
<hr>

  <!-- CLOSE CATEGORIES -->

  <!-- OPEN JUST FOR YOU -->


  <div class="container">
    <div class="h3" style="color: red;">Just For You</div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img src="images/washing-machine-in-carton-cardboard-box-e-commerce-internet-online-shopping-and-delivery-concept-3d-illustration-rkj0cw.jpg" class="card-img-top c" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="images/webshop-thumbs.jpg" class="card-img-top c" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="images/webshop-thumbs.jpg" class="card-img-top c" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="images/which-dna-product-is-best-.jpg" class="card-img-top c" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CLOSE JUST FOR YOU -->

  <hr>

  <!-- OPEN FOOTER -->

  <div class="container-fluid footer">
    <div class="row">
      <div class="col">
        <div class="h5" style="color: red;">Customer Care</div> <hr>
        <ul>
          <li>Help Center</li>
          <li>How to Buy</li>
          <li>Returns and Refund</li>
          <li>Contact Us</li>

        </ul>
      </div>
      <div class="col">
        <div class="h5" style="color: red;">About us:</div> <hr>
        Careers <br>
        Terms and Conditions <br>
        Privacy and Policy <br>
        Digital Payments <br>
        Customer service

      </div>
      <div class="col">
      <div class="h5" style="color: red;">Payment</div> <hr>
    </div>

    </div>
  </div>

{% endblock %}