{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container" style="margin-top: 50px;">
  <div class="row">

    <div class="col-6">

      <img class="img-fluid" src="{{ product.thumbnail.url }}" alt="">

    </div>


    <div class="col">

      <h1 class="h2">{{ product.name }}</h1>

      <hr>

      <div class="my-3">
        <span class="fw-bold lead">NRs.</span>
        {% if product.offer_price %}
        <span class="fw-bold lead"><del>{{ product.price }}</del></span>
        <span class="fw-bold lead text-danger">{{product.offer_price }}</span>
        {% else %}
        <span class="fw-bold lead">{{ product.price }}</span>
        {% endif %}
      </div>

      <form class="my-2" action="{% url 'add_to_cart' product.slug %}" method="post">
        {% csrf_token %}

        {% if product.quantity > 0 %}

        <div class="my-2">
          Quantity:
          <span class="btn btn-sm btn-success" onclick="quantity_dec()">-</span>
          <input name="quantity" type="text" id="quantity" value="1" class="form-control form-control-sm" readonly
            style="text-align:center; display:inline; width: 50px;">
          <span class="btn btn-sm btn-success" onclick="quantity_inc()">+</span>
        </div>

        <div>Available Units: <span id="units">{{ product.quantity }}</span></div>

        <hr>
        <button type="submit" class="btn btn-success">Add to
          Cart</button>

        {% else %}

        <div>
          <span class="text-danger">Out of Stock</span>
        </div>

        {% endif %}




      </form>


    </div>
  </div>
</div>

<hr>

<div class="container">
  <h5> Product Details : </h5>
  <div class="row">
    <div class="col">
      <p>{{ product.description }}</p>
    </div>
    <div class="col">
      {{ product.tags }}
    </div>

  </div>
</div>

<div class="container">
  <h2>Related Products:</h2>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in recommended_products %}

    <div class="col">
      <div class="card h-100">
        <img src="{{ product.thumbnail.url }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description|truncatewords:20 }}</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'single_product_page' product.slug %}" class="btn btn-sm btn-success">View Product</a>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>


<script>
  function quantity_inc() {
    var quantity = parseInt(document.getElementById('quantity').value);
    var total_units = parseInt(document.getElementById('units').innerText);
    if (quantity != total_units) {
      quantity += 1;
    }
    document.getElementById('quantity').value = quantity;
  }

  function quantity_dec() {
    var quantity = parseInt(document.getElementById('quantity').value);
    if (quantity != 1) {
      quantity -= 1;
    }
    document.getElementById('quantity').value = quantity;
  }

</script>

{% endblock %}